@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}

html {
  color: #000000;
  display: flex;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.01em;
}

@font-face {
  font-family: "GT Maru";
  src: url("./fonts/GT-Maru-Regular-Trial.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GT Maru";
  src: url("./fonts/GT-Maru-Regular-Oblique-Trial.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Italic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/InterDisplay-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: bold;
}
